<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="UserCtrl">
            <span></span>
            <form ng-submit="submit()">
                <input ng-model="user.username" type="text" name="user" placeholder="Username" />
                <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
                <input type="submit" value="Login" />
            </form>
            <button ng-click="send()">Send</button>
        </div>
    </div>

</body>
<script src="angular.min.js"></script>
<script src="index.js"></script>
</html>